.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
  list-style-type: none;
}
.main{
  display: block;
  background-color: black;
  color: white;
  width: 700px;
  margin: auto;
  height: 350px;
  margin-top: 30px;
}
.main li{
  text-align:left;
}
input{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border: none;
  background-color: rgba(216, 213, 213, 0.125);
  margin-top: 10px;
  color: white;
}
table{
  margin-top: 50px;
  width: 80%;
  background-color: black;
  margin-left: 10%;
}
table th{
  background-color: rgba(216, 213, 213, 0.125);width: 50px;
  height: 30px;
  color: rgb(0, 255, 4);
}
table td{
  height: 30px;
  background-color: rgba(216, 213, 213, 0.125);
  color: white;
}
.main button{
  height: 30px;
  border-radius: 10px;
  border: none;
  margin: 30px;
  font-weight: bold;
  cursor: pointer;
}
.SImode .SI{
  height: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
}
.SImode .CI{
  height: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(225, 217, 217);
  color: black;
}
.CImode .SI{
  height: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(225, 217, 217);
  color: black;
}
.CImode .CI{
  height: 30px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
}