.todo{
  text-align: center;
  color: white;
}
.input{
  height: 30px;
  border: none;
  box-shadow: 0px 0px 5px black;
  border-radius:10px ;
}
.btn{
  height: 35px;
  border: none;
  background-color: aqua;
  font-weight: bold;
  cursor: pointer;
  border-left: none;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
  margin-left: 10px;
}

.list{
  list-style-type: none;
  display: flex;
  position: relative;
  left: 40%;
  font-weight: bold;
}
.list i{
  margin: 20px;
margin-top: 5px;
cursor: pointer;
}
li{
  text-align: center;
  list-style-type: none;
  display: flex;
  position: relative;
  left: 40%;
  font-weight: bold;
  position: relative;
  margin-top: 20px;
  color: white;

}
.App{
  text-align: center;
  overflow-x: hidden;
  background-color: black;
  width: 700px;
  display: block;
  margin: auto;
  height: 500px;
}
.mark{
  height: 25px;
  border: none;
  background-color:white;
  font-weight: bold;
  cursor: pointer;
  border-left: none;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
  margin-left: 10px;
}

.todobtn{
  position: absolute;
  left: 7vw;
}
.yes{
  color:aqua;
}
.no{
  color: white;
}
